@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat&display=swap');

:root {
    --main: #fff5ea;
    --brand: #00471b;
    --accent: #eee1c6;
    --subapage-padding-h: 15%;
    --subpage-padding-v: 150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lato";
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 0 10px;
    background-color: var(--brand);
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    width: 10%;
    text-align: center;
    z-index: 99;
}

#logo img {
    width: 100px;
    height: 85px;
}

#logo img:hover {
    opacity: 80%;
    transition: 0.3s;
}

.menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
}

.navlink {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 10px;
    font-weight: bold;
}

.navlink:hover {
    text-decoration: underline;
}

.social-menu {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.social-menu a {
    text-decoration: none;
    margin: 0px 10px;
    color: #fff;
}

/* .social-menu a:hover {
    text-decoration: underline;
} */

.toggler {
    display: none;
    z-index: 99;
    color: #fff;
}

.toggleMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: var(--brand);
    transform: translateX(+100%);
    transition: transform 0.5s ease;
}

.menuOpen {
    transform: translateX(0);
}

.toggleMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    width: 100%;
    padding: 0 20px;
}

.toggleNavLink {
    width: 100%;
    color: #fff;
    padding: 20px 0;
    font-size: 1.8rem;
    border-bottom: 2px solid #fff;
    margin: 0;
}

.toggleNavLink:first-child {
    border-top: 2px solid #fff;
}

.toggleSocialMenu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    margin: 30px 0;
    padding: 0 20px;
}

.toggleSocialMenu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 20px;
}

.toggleSocialMenu a:first-child {
    margin: 0 20px 0 0;
}

@media (max-width: 767.98px) {
    .menu {
        display: none;
    }

    .social-menu {
        display: none;
    }

    #logo {
        width: 20%;
    }

    .navigation {
        justify-content: space-between;
    }

    .toggler {
        display: block;
        width: 20%;
        text-align: center;
    }
}

.front-page-container {
    width: 100%;
    height: 200vh;
    padding-top: 85px;
}

.footer-container {
    width: 100%;
    height: 30vh;
    background-color: var(--brand);
}

.subpage-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 85px;
    padding: var(--subpage-padding-v) var(--subapage-padding-h);
}

.team-container {
    width: 400px;
    height: 200px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.team-container p {
    font-size: 2rem;
}