@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat&display=swap');

:root {
    --main: #fff5ea;
    --brand: #00471b;
    --accent: #eee1c6;
    --subapage-padding-h: 10%;
    --subpage-padding-v: 150px;
    --button-border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lato";
}

a {
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 0 10px;
    background-color: var(--brand);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 10%;
    text-align: center;
    z-index: 99;
}

#logo img {
    width: 100px;
    height: 85px;
}

#logo img:hover {
    opacity: 80%;
    transition: 0.3s;
}

.menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
}

.navlink {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 10px;
    font-weight: bold;
}

.navlink:hover {
    text-decoration: underline;
}

.social-menu {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.social-menu a {
    text-decoration: none;
    margin: 0px 10px;
    color: #fff;
}

/* .social-menu a:hover {
    text-decoration: underline;
} */

.toggler {
    display: none;
    z-index: 99;
    color: #fff;
}

.toggleMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: var(--brand);
    transform: translateX(+100%);
    transition: transform 0.5s ease;
}

.menuOpen {
    transform: translateX(0);
}

.toggleMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    width: 100%;
    padding: 0 20px;
}

.toggleNavLink {
    width: 100%;
    color: #fff;
    padding: 20px 0;
    font-size: 1.8rem;
    border-bottom: 2px solid #fff;
    margin: 0;
}

.toggleNavLink:first-child {
    border-top: 2px solid #fff;
}

.toggleSocialMenu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    margin: 30px 0;
    padding: 0 20px;
}

.toggleSocialMenu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 20px;
}

.toggleSocialMenu a:first-child {
    margin: 0 20px 0 0;
}

@media (max-width: 767.98px) {
    .menu {
        display: none;
    }

    .social-menu {
        display: none;
    }

    #logo {
        width: 20%;
    }

    .navigation {
        justify-content: space-between;
    }

    .toggler {
        display: block;
        width: 20%;
        text-align: center;
    }
}

.front-page-container {
    width: 100%;
    height: 200vh;
    padding-top: 85px;
}

.footer-container {
    width: 100%;
    height: 30vh;
    background-color: var(--brand);
}

.subpage-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 85px;
    padding: var(--subpage-padding-v) var(--subapage-padding-h);
}

.team-container {
    width: 400px;
    height: 200px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.team-container p {
    font-size: 2rem;
}

.player-container {
    width: 400px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}



.search {
    --padding: =14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: f6f6f6;
}

/* Nowa klasa dla pozycjonowania absolutnego */
.fixed-search {
    position: absolute;
    top: 100px;
    /* Odległość od górnej krawędzi ekranu */
    left: 1150px;
    /* Odległość od lewej krawędzi ekranu */
    /* Upewnij się, że jest nad innymi elementami */
}

.search-input {
    width: 300px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    outline: none;
    border: none;
    background: transparent;
}


.search-button {
    height: 40px;
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}


.wrapper {
    height: auto;
    width: 420px;
    background-color: var(--brand);
    border-radius: 10px;
    color: var(--main);
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    /* Zmiana z 100% */
    height: 50px;
    margin: 30px 0;
    /* Zmiana z 30px */
}

.input-box input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Nowa linia */
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid var(--main);
    border-radius: 40px;
    font-size: 16px;
    color: var(--main);
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: var(--main);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .admin-btn {
    width: 100%;
    height: 45px;
    background: var(--main);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    /* Dodajemy efekt przejścia */
}

.wrapper .admin-btn:hover {
    background: var(--brand);
    color: #fff;
}


.search-form {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
    outline: none;
}

.search-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--brand);
    color: #fff;
    border-radius: 20px;
    margin-left: -40px;
    cursor: pointer;
}

.player-list {
    margin-top: 20px;
}

/* Player table*/
.team-container {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.team-container p {
    font-size: 18px;
}

/* Player name and surname*/
.team-container a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

/* Efekt hover dla linków */
.team-container a:hover {
    color: var(--brand);
}


/* CRUD */


.crud-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.crud-container table {
    width: 100%;
    border-collapse: collapse;
}

.crud-container tr {
    text-align: center;
}

.crud-container th,
.crud-container td {
    padding: 10px 5px;
    border-bottom: 1px solid black;
    padding: 15px 0;
}

.crud-container tr:nth-child(2n) {
    background-color: #cecece;
}

.crud-container table a {
    color: #000;
}

.crud-add-button {
    padding: 10px 5px;
    margin-bottom: 10px;
    background-color: var(--brand);
    color: #fff;
    border-radius: var(--button-border-radius);
    width: fit-content;
    text-align: center;
}



/* END OF CRUD */

/* ADIMN PANEL */

.admin-page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.admin-nav-container {
    width: 300px;
    height: inherit;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(198, 199, 211, 1);
    -moz-box-shadow: 2px 0px 4px 0px rgba(198, 199, 211, 1);
    box-shadow: 2px 0px 4px 0px rgba(198, 199, 211, 1);
}

.admin-nav-container .logo {
    display: flex;
    justify-content: center;
}

.admin-nav-container .logo img {
    width: 50%;
}

.admin-nav-container .nav {
    display: flex;
    flex-direction: column;
}

.admin-nav-container .nav a {
    width: 100%;
    padding: 15px 30px;
    color: #000;
}

.admin-nav-container .nav a:hover,
.admin-nav-container .nav a:active {
    background: var(--brand);
    color: #fff;
}

.admin-page-content {
    width: calc(100% - 300px);
    height: inherit;
    padding: var(--subpage-padding-v) var(--subapage-padding-h);
}

.admin-page-content .page-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.admin-nav.selected {
    background: var(--brand);
    color: #fff;
}

/* END OF ADMIN PANEL */

/* VERIFY 2FA */
.verify-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify-container h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.verify-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.verify-container form input[type='text'] {
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: var(--button-border-radius);
    width: 200px;
    text-align: center;
    font-size: 1.3rem;
}

.verify-container button {
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: var(--button-border-radius);
    width: fit-content;
    text-align: center;
    font-size: 1.3rem;
}

/* EMD OF VERIFY 2FA */

/*TEAMS*/

.teams-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.teams-container .single-team {
    width: 100%;
    min-height: 250px;
    background-color: #c5c5c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
}